{{#jekyll-post-layout as |post|}}
  {{#post.title}}
    {{content-editable
      class='content-editor'
      value=title
      placeholder="Title"
      type="text"
    }}
  {{/post.title}}
  {{#post.body}}
    <div>
      <button {{action 'togglePreview'}}>
        {{#if showPreview}}
          Edit
        {{else}}
          Preview
        {{/if}}
      </button>
    </div>
    {{#if showPreview}}
      {{markdown-renderer value=markdown}}
    {{/if}}
    {{!-- we must only hide or the value gets mangled --}}
    {{content-editable
      class=(if showPreview 'content-editor--hidden' 'content-editor')
      value=markdown
      placeholder='Content'
      type='text'
    }}
  {{/post.body}}
{{/jekyll-post-layout}}
