{{#jekyll-post-layout as |post|}}
  {{#post.title}}
    {{content-editable
      class='content-editor'
      value=title
      placeholder="Title"
      type="text"
    }}
  {{/post.title}}
  {{#post.body}}
    <div>
      <button {{action 'toggleEditor'}} class={{if showEditor 'toggle-button--active'}}>Editor</button>
      <button {{action 'togglePreview'}} class={{if showPreview 'toggle-button--active'}}>Preview</button>
    </div>
    {{!-- we must only hide or the value gets mangled --}}
    {{content-editable
      class=(if showEditor 'content-editor' 'content-editor--hidden')
      value=markdown
      placeholder='Content'
      type='text'
    }}
    {{#if showPreview}}
      {{markdown-renderer value=markdown}}
    {{/if}}
  {{/post.body}}
{{/jekyll-post-layout}}
