{{#jekyll-post-layout as |post|}}
  {{#post.title}}
    {{content-editable
      type="text"
      class='content-editor'
      value=title
      placeholder="Title"
    }}
  {{/post.title}}
  {{#post.body}}
    <div>
      <button {{action 'toggleEditor'}} class={{if showEditor 'toggle-button--active'}}>Editor</button>
      <button {{action 'togglePreview'}} class={{if showPreview 'toggle-button--active'}}>Preview</button>
    </div>
    <div>
      {{#if showEditor}}
        <div class='panel' style='width: {{panelWidth}}%;'>
          {{content-editable
            tagName='pre'
            type='text'
            class='content-editor markdown-input'
            value=markdown
            placeholder='Content'
          }}
        </div>
      {{/if}}
      {{#if showPreview}}
        <div class='panel' style='width: {{panelWidth}}%;'>
          {{markdown-renderer value=markdown}}
        </div>
      {{/if}}
    </div>
  {{/post.body}}
{{/jekyll-post-layout}}
