{{#if showPreview}}
  {{#jekyll-post-layout as |post|}}
    {{#post.title}}
      {{title}}
    {{/post.title}}
    {{#post.body}}
      {{markdown-renderer value=markdown}}
      <div>
        <button {{action 'togglePreview'}}>Edit</button>
      </div>
    {{/post.body}}
  {{/jekyll-post-layout}}
{{else}}
  {{#jekyll-post-layout as |post|}}
    {{#post.title}}
      {{input value=title}}
    {{/post.title}}
    {{#post.body}}
      {{textarea value=markdown}}
      <div>
        <button {{action 'togglePreview'}}>Preview</button>
      </div>
    {{/post.body}}
  {{/jekyll-post-layout}}
{{/if}}
