{{#jekyll-post-layout as |post|}}
  {{#post.title}}
    {{content-editable
      type="text"
      class='content-editor'
      value=title
      placeholder="Title"
      key-up=(action titleUpdated)
    }}
  {{/post.title}}
  {{#post.body}}
    <div>
      <button {{action (action 'togglePane' 'showEditor')}} class={{if showEditor 'toggle-button--active'}}>Editor</button>
      <button {{action (action 'togglePane' 'showJekyll')}} class={{if showJekyll 'toggle-button--active'}}>Jekyll</button>
      <button {{action (action 'togglePane' 'showPreview')}} class={{if showPreview 'toggle-button--active'}}>Preview</button>
    </div>
    <div>
      {{#if showEditor}}
        <div class='panel' style='width: {{panelWidth}}%;'>
          {{content-editable
            tagName='pre'
            type='text'
            class='content-editor markdown-input'
            value=markdown
            placeholder='Content'
            stringInterpolator=cleanupMarkdown
            key-up=(action markdownUpdated)
          }}
        </div>
      {{/if}}
      {{#if showJekyll}}
        <div class='panel' style='width: {{panelWidth}}%;'>
          {{raw-jekyll-post title=title markdown=markdown}}
        </div>
      {{/if}}
      {{#if showPreview}}
        <div class='panel' style='width: {{panelWidth}}%;'>
          {{markdown-renderer value=markdown}}
        </div>
      {{/if}}
    </div>
  {{/post.body}}
{{/jekyll-post-layout}}
